*{
    box-sizing: border-box;
}

body{
    text-align: center;
}
.header{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: salmon;
    margin: 2% 2% 2% 5%;
    font-size: 1.5em;
}
.header img{
    width: 2%;
}
.header div {
    text-align: center;
    font-size: small;
}
.tooltip{
    position: relative;
    display: inline-block;
    border: 1px dotted black;
}

.tooltip .tooltiptext{
    visibility: hidden;
    width: 100px;
    background-color:lightpink;
    color: black;
    text-align: center;
    border-radius: 3px;
    position: absolute;
    
}
.tooltip:hover .tooltiptext{
    visibility: visible ;
}
.containerLeft{
    margin: 2% 3% 2% 5%;
    float: left;
    background-color:#FEEAE6 ;
    border: 2px solid black ;
    border-radius: 15px;
    padding: 3%;
    font-family: sans-serif;
    color: #442C2E;
    width: 40%;
}
.containerRight {
    margin: 2% 5% 2% 3%;
    float: right;
    background-color:#FEEAE6 ;
    border: 2px solid black ;
    border-radius: 15px;
    padding: 3%;
    font-family: sans-serif;
    color: #442C2E;
    width: 40%;
    padding-bottom: 5.5%;
}
/* footer{

    margin: 1% 25%;
    
} */
#BSrise{
    font-weight: bold;
    color: red;
}
#CarbsToEat, #weight, #bscurrent, #CarbSensitivity, #targetBS, #targetCBS, #targetCS {
    width: 15%;
}
#targetBS, #targetCBS, #targetCS{
    margin-left: 30px;
    align-content: center;
}
#targetCS{
    margin-left: 65px;
}
#targetBS{
    margin-left: 38px;
}
#insulinTotake, #bsafter, #carbsneeded{
    font-size: 1em;
    color: mediumvioletred;
    font-weight: bold;
}

button{
    background-color: white;
    border-style: double;
    font-weight: bold;
    margin: 10px;
    width: 40%;
    border: 1px dotted #442C2E;
    border-radius: 5px;
}
button:hover{
    background-color: lightpink;
}

.footer{
    font-size: small; 
}